
<link rel="icon" href="data:;base64,=">
<script>
var D_WIDTH = 750;
!function(e,t){function n(){var n=r.getBoundingClientRect().width;t||(t=540),n>t&&(n=t);var i=100*n/e+"px";r.style.fontSize=i,s.innerHTML="html{font-size:"+i+"!important}"}var i,o=document,d=window,r=o.documentElement,s=o.createElement("style");r.firstElementChild.insertBefore(s,r.firstElementChild.firstElementChild),n(),d.addEventListener("resize",function(){clearTimeout(i),i=setTimeout(n,300)},!1),d.addEventListener("pageshow",function(e){e.persisted&&(clearTimeout(i),i=setTimeout(n,300))},!1),"complete"===o.readyState?o.body.style.fontSize="16px":o.addEventListener("DOMContentLoaded",function(){o.body.style.fontSize="16px"},!1)}(D_WIDTH,D_WIDTH);
</script>
<link rel="stylesheet" href="./lib/layui/css/layui.css">
<link rel="stylesheet" href="./css/index.css">
